.view {

}
.app-bar  {

     -fx-background-color: black;

}
.button {

        -fx-height: 500px; /* You must set a specified height */
        -fx-background-position: center; /* Center the image */
        -fx-background-size: cover;
        -fx-background-color: black;
        -fx-focus-color: white;
}

.ingredients {

            -fx-background-color: PINK;


}

.v {
        -fx-height: 100px; /* You must set a specified height */
        -fx-width: 100px; /* You must set a specified height */
        -fx-background-position: center; /* Center the image */
        -fx-background-size: cover;
        -fx-background-color: black;
        -fx-focus-color: white;

}

.imageDrop {
         -fx-height: 100px; /* You must set a specified height */
         -fx-width: 60px;
         -fx-overflow: hidden;

}

.scroll {




}

.backgroundP {

-fx-background-image: url('/com/gluon/Veg/views/images/wood.jpg');

}

.go {
-fx-background-image: url('/go.png');



}

.i {
-fx-opacity: 1;


}
